@import '../../theme';
// :host {
//   .mat-icon {
//     vertical-align: middle;
//     margin-right: 20px;
//   }
//   .profile-card {
//     text-align: center;
//     padding: 0 20px 20px 20px;
//     img {
//       width: 100px;
//       height: 100px;
//       object-fit: cover;
//       border-radius: 50%;
//     }
//   }
// }
//  mat-nav-list{
//     display:block;
//     border:1px solid;
//     width:300px;
//     }

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}
